{% extends "!layout.html" %}

{% block extrahead %}
<meta name="google-site-verification" content="4TioYWJFEBXG8zheTR5wZ_xe4xetDIdQy-VrGNB4WrI" />
<meta name="msvalidate.01" content="A416C0755D3C5B690EE11BADDF79F4DE" />
    <meta name="description" content="Are you looking to access your NETGEAR router settings? Visit routerlogin.net, the official web address designed to help you log in to your NETGEAR router dashboard quickly and securely. " />
    <meta name="keywords" content="routerlogin.net, routerlogin.net login, routerlogin.net 192.168.1.1, routerlogin.net 192.168.1.1 admin, netgear router login, log in to my NETGEAR router, my NETGEAR router account" />
    <meta name="robots" content="index, follow" />
    <title>Routerlogin.net - Online Portal to Access Your NETGEAR Router Login Page</title>
    {{ super() }}
{% endblock %}
